{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="header">

                        </div>
                        <div class="content table-responsive table-full-width">

                            <div class="row">
                                <div class="col-md-6 col-md-offset-5">
                                    <img src="{{ asset('/assets/img/logo.png') }}" alt=""><br><br><br>

                                </div>
                                <div class="col-md-6 col-md-offset-4">
                                    <img height="600px" src="{{ asset('/assets/img/cotizar.png') }}" alt="">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

